@import "../imges";

.container{
    display: grid;
    margin: auto;
    width: 100%;
    /* grid-template-rows: 20% 15% 50% 15%; */
    grid-template-rows: 150px 80px 500px 100px ;
    grid-template-areas: 
    "hd" "author" "main" "ft";
    font-family: 'Montserrat', sans-serif;
}

#title {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

#header {
    font-size: 30px;
}

#subscribe {
    color: white;
    font-size: 18px;
}

#author {
    grid-area: author;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;

}

#post_title {
    font-size: 23px;
}

#content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: black;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#bottom-left {
    margin-right: 10px;
}

#bottom-righr {
    margin-left: 10px;
}

#author_info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
    
}

#author_bio {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bio {
    font-size: small;
}

#social_media {
    display: flex;
    flex-direction: row;
}

#profile_pic {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}

#author_name {
    font-size: 17px;
}

.facebook_icon {
    background-image: url("../imges/facebook-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.twitter_icon {
    background-image: url("../imges/twitter.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#search_icon {
    width: 27px;
    height: 27px;
    background-size: cover;
    background-repeat: no-repeat;
}

#post_text {
    text-indent: 50px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.button {
    background-color: white;
    border-radius: 10px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    padding: 8px 10px;
  }

  blockquote {
      /* margin-top: 100px; */
      margin-left: 0em;
      margin-right: 0em;
  }

  @media(min-width:900px){
    #subscribe {
        color: white;
        font-size: 23px;
    }
    #header {
        font-size: 40px;
    }
    #search_icon {
        width: 33px;
        height: 33px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #author_name {
        font-size: 20px;
    }
    #bio {
        font-size: 15px;
    }
    #author_bio {
        margin-top: 9px;
    }
    #post_title {
        font-size: 30px;
    }
    #post_text {
        font-size: 24px;
    }
    #blockquote {
        margin-top: 20px;
    }

  }

  @media(max-width:600px){
    #subscribe {
        color: white;
        font-size: 14px;
    }
    #header {
        font-size: 23px;
    }
    #search_icon {
        width: 22px;
        height: 22px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #author_name {
        margin-top: 20px;
        font-size: 15px;
    }
    
    #bio {
        font-size: 10px;
    }

    #post_title {
        font-size: 20px;
    }

    #post_text {
        text-indent: 50px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 13px;
    }

    #footer {
        font-size: 12px;
    }

    blockquote {
        margin-top: 30px;
        font-size: 13px;
        margin-left: 0em;
        margin-right: 0em;
    }
  }

  @media(max-width:400px){
    #header {
        font-size: 18px;
    } 
    #subscribe {
        color: white;
        font-size: 12px;
    }
    #search_icon {
        width: 19px;
        height: 19px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #post_text {
        text-indent: 50px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
    }
    blockquote {
        margin-top: 30px;
        font-size: 10px;
        margin-left: 0em;
        margin-right: 0em;
    }
  }

  @media(max-width:340px){
    #header {
        font-size: 16px;
    } 
    #subscribe {
        color: white;
        font-size: 11px;
    }
    #search_icon {
        width: 17px;
        height: 17px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #post_title {
        font-size: 17px;
    }

    #post_text {
        text-indent: 50px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 11px;
    }
    blockquote {
        margin-top: 30px;
        font-size: 10px;
        margin-left: 0em;
        margin-right: 0em;
    }
  }

  @media(max-width:280px){
    #header {
        font-size: 15px;
    } 
    #subscribe {
        color: white;
        font-size: 10px;
    }
    #search_icon {
        width: 16px;
        height: 16px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #author_name {
        margin-top: 20px;
        font-size: 13px;
    }
    
    #bio {
        font-size: 9px;
    }

    #post_title {
        font-size: 14px;
    }

    #post_text {
        text-indent: 50px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 9px;
    }
    blockquote {
        margin-top: 30px;
        font-size: 10px;
        margin-left: 0em;
        margin-right: 0em;
    }
  }
